header {
    background-color: rgb(255, 240, 0);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    float: inline-end;
  }

  footer {
      background-color: rgb(45, 44, 50);
    color: white;
  }

.divhorario {
    text-align: center;
}

.divrepara {
    margin-top: 110px;
    text-align: center;
}

.divcarrusel{
    top: 0;
    left: 0;
    min-width: 100%;
    height: 450px;
    max-height: 450px;
    width: auto;
}

.imgproduct {
    width: 175px;
    height: 210px;
}

.carrusel-popular-ps4{
    margin-top: 100px;
    margin-bottom: 200px;
}
