header {
    background-color: rgb(217, 238, 125);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    float: inline-end;
  }

.divhorario {
    margin-top: 85px;
    text-align: center;
}

.divrepara {
    margin-top: 110px;
    text-align: center;
}

.divcarrusel{
    margin-top: 70px;
}